.center{
	text-align:center;
}
.right{
	text-align:right;
}
.font-size{
	font-size:x-large;
}
.large{
	font-size:large;
}
.width{
	max-width:100%;
}
.height{
	max-height:100%;
}
.color-red{
	color: #ff0000;
}
.left{
	text-align:left;
}
.cp_cssslider {
	width: 600px;
	height: 400px;
	overflow: hidden;
	margin: 2em auto;
	border: 10px solid #ffffff;
	box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
}
.cp_slide_item {
	width: 600px;
	height: 400px;
	float: left;
	position: relative;
}
.cp_slidewrapper {
	width: 800%;/* slideの枚数×100% */
	position: relative;
	left: 0;
	animation: slider 10s infinite ease;/* スピード */
}
@-webkit-keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
@keyframes slider {
	/* 100%を枚数で割った%に割り振る */
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	20% {
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	}
	40% {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
	}
	60% {
	-webkit-transform: translateX(-900px);
	transform: translateX(-900px);
	}
	80% {
	-webkit-transform: translateX(-1200px);
	transform: translateX(-1200px);
	}
	100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
}
.slideheight{
	max-height:400px;
	margin:auto;
	}
.searchheight{
	max-height:300px;
}
.top{
	magin-top:100px;
}
.bottom{
	margin-bottom:100px;
}
.backcolor{
	background-color:#003300
}
.he{
	height: 400px;
}
.photo{
	display: block;
  	margin:0px auto;
}


